<center>


<script src="jquery-ui/js/jquery-ui-1.8.10.custom.min.js"></script>
<script>
	$(function() {
		$( "button", ".save" ).button();
		$( ".save" ).click(
			function() {
				//alert(document.getElementById("foo").InnerHTML);
				return false;
			}
		);
	});
</script>

<div class="save">
<button>Save</button>
</div>

</center>