<center>


<script>
	$(function() {
		$( "button", ".save" ).button();
		$( "button", ".open" ).button();
		$( ".save" ).click(
			function() {
				SaveContents("README2");
			}
		);
		$( ".open" ).click(
			function() {
				ScanWorkspace()
				//LoadContents("README2")
			}
		);
	});
</script>

<div class="open">
<button>Open</button>
</div>

<div class="save">
<button>Save</button>
</div>

</center>