<center>

<script>
$(function() {
	$( "button", ".build-button" ).button();
	$( "#save" ).click(function() {SaveCurrentContents();});
	$( "#revert" ).click(function() {RevertCurrentContents();});
	$( "#build" ).click(function() {BuildPkgs();});
});
</script>

<div class="build-button">
<button id="save">Save</button>
<button id="revert">Revert</button>
<button id="build">Build</button>
</div>

</center>