<center>


<script>
	$(function() {
		$( "button", ".save" ).button();
		$( "button", ".open" ).button();
		$( ".save" ).click(
			function() {
				SaveCurrentContents();
			}
		);
	});
</script>

<div class="save">
<button>Save</button>
</div>

</center>