<!DOCTYPE html>
<html lang="en">
<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/sprintf-0.7-beta1.js" type="text/javascript" charset="utf-8"></script>
<script src="js/io.js" type="text/javascript" charset="utf-8"></script>
<script src="js/gb.js" type="text/javascript" charset="utf-8"></script>
<script src="js/fs.js" type="text/javascript" charset="utf-8"></script>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>gbide</title>
  
  <link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8.10.custom.css">
  <link href="treetable/css/jquery.treeTable.css" rel="stylesheet" type="text/css" />

  <link type="text/css" href="css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
  <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>


  <style type="text/css" media="screen">
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .build-container {
		top: 0px;
		left: 0px;
		right: 0px;
		height: 50px;
	}
    .browse-container {
		top: 100px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 200px;
    }
	.editor-container {
        height: 100%;
    }
    .editor-container .container {
        padding: 0;
        height: 100%;
    }
    #editor { 
        position: absolute;
        top: 50px;
        bottom: 0px;
        left: 200px;
        right: 0px;
        margin: 0;
        padding: 0;
    }
  </style>
</head>
<body>
<div class="build-container">
    <div class="container">{{BuildBar}}</div>
</div>
<div class="browse-container">
	<div class="container">{{BrowseBar}}</div>
</div>
<div class="editor-container">
	<div class="container">{{Editor}}</div>
</div>
</body>
</html>
