
.files a {
	text-decoration:none;
}
.files {
	font: normal 9pt Monaco;
}
#pkgbrowser .marked {
    background-color: orange;
}
#pkgbrowser .inactive {
	font-style: italic
}
#filebrowser .marked {
    background-color: orange;
}