

.files a {
	text-decoration:none;
}
.fileheaders {
	font: normal 10pt Arial;
}


#pkgbrowsertree tr {
	padding: 0px 0px 0px 0px;
}
#pkgbrowsertree td {
	font: normal 8pt Arial; padding: 0px 0px 0px 0px; cursor: pointer;
}