
html, body {
    margin: 0;
    padding: 0;
}

.fixdiv {
    margin: 0;
    padding: 0;
    position: absolute;
}

.col {
    top: 50px;
    bottom: 50px;
    overflow: auto;
}

#browse-col, #outline-col {
    background: silver;
    width: 200px;#
}

#browse-col {
    left: 0;
	bottom: 0px;
}

#outline-col {
    right: 0;
}

#editor-col {
    left: 200px;
    right: 200px;
    background: lightgray;
}

#header, #footer {
    height: 50px;
    background: gray;
}

#footer {
    left: 200px;
	right: 0px;
    bottom: 0;
}

#header {
	left:200px;
	right:0px;
    top: 0;
}

#editor { 
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
